@use "magocss/scss/functions";
$modularscale: (
  base: 1rem,
  ratio: 1.2
);
// --------

$textFont: "Catamaran", sans-serif;
$headerFont: $textFont;
$accent-color: #FF824D;
$base-text: 1.125rem;
$small-text: 0.9375rem;
$large-text: 1.35rem;

// --------
$dark-text-color: #464951;
$light-text-color: #7A7E8C;
$custom-variarion-500: #E8EDFF;  

@import "magocss/scss/mago";


h1, h2, h3, h4, h5, h6 {
    color: $dark-text-color;
}

img {
    max-width: 100%;
}

// ---------

.btn {
    @include roundBorder('medium');
    display: inline-block;
}

.btn-accent {
    box-shadow: 0px 4px 5px rgba(255, 130, 77, 0.25);
}

.btn-cta-accent {
    box-shadow: 0px 2px 40px rgba(255, 130, 77, 0.4);
}

.btn-cta-base {
    box-shadow: 0px 2px 40px rgba(75, 114, 241, 0.4);
}

.btn-icon {
    display: inline-flex;
    align-items: center;
}

.btn-function {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-border-accent {
    box-shadow: 0px 4px 5px rgba(255, 130, 77, 0.25);
    background-color: $white-color;
    &:hover {
        background-color: $white-color;
    }
}

a.btn-border-accent {
    &:hover {
        color: $accent-color !important;
    }
}

.btn-border-base {
    box-shadow: 0px 4px 5px rgba(35, 52, 107, 0.25);
    background-color: $white-color;
    &:hover {
        background-color: $white-color;
    }
}

a.btn-border-base {
    &:hover {
        color: $base-color !important;
    }
}

.form {
    @include roundBorder('medium');
    &::placeholder {
        font-size: $small-text;
    }
}


.btn-border-grey {
    color: $light-text-color;
    border: 1px solid $light-text-color;
}

a.btn-border-grey  {
    color: $light-text-color !important;
}

.btn-border-accent,
.btn-border-base,
.btn-border-success,
.btn-border-warning,
.btn-border-danger {
    transition: transform .3s ease;
    &:hover {
        transform: scale(1.1);
    }
}

@include mediaQuery($bp-t){
    .container {
        width: 95%;
    }    
}

@include mediaQuery($bp-d) {
    .container {
        width: auto;
    }
}

// -------

._light-text-color {
    color: $light-text-color !important;
}

._custom-variation-500 {
    background-color: $custom-variarion-500 !important;
}

._d-block {
    display: block !important;
}

._d-inline-block {
    display: inline-block !important;
}

._d-none {
    display: none !important;
}

._w-100 {
    width: 100% !important;
}

._bg-white-color {
    background-color: $white-color !important;
}

._space-between {
    justify-content: space-between !important;
}

._align-items-center {
    align-items: center;
}

._align-items-start {
    align-items: flex-start;
}

._justify-end {
    justify-content: flex-end;
}

._shadow-s {
    box-shadow: 0px 2px 5px rgba(35, 52, 107, 0.25) !important;
}
._relative {
    position: relative;
}

._overflow {
    overflow: hidden;
}

// ----------

.mark-list {
    & li {
        margin: $space-s 0;
    } 
    & li::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border: 3px solid $base-color;
        background-color: transparent;
        border-radius: 100%;
        margin-right: $space-s;
    }
}

.intro-image {
    display: flex;
    justify-content: flex-end;
}

.servicos {
    display: flex;
    flex-direction: column;
}

.pilares-item {
    display: flex;
    flex-flow: column nowrap;
}

.cta-block {
    margin: 0 auto;
}

.social-links {
    & img {
        @include spaceInline($space-m);
    }
}

.intro-landing {
    margin: 0 auto;
}

.contact-form .flex-row {
    flex-direction: column;
}

@include mediaQuery($bp-t) {

    .logo {
        width: calc(((100% * 3) /12) - 32px);
        margin-right: $space-l;
    }
    .menu-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        width: calc((100% * 9) /12);
    }
}

// Status do formulário

#my-form-status {
    margin-top: $space-s;
}

/*--------------------------
Código Acordeon */

.acordeon .ac-title::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    transform: rotate(0deg);
    transition: transform .3s;
}

.acordeon .ac-title.rotate::after {
    transform: rotate(180deg);
}

.acordeon {
    & p {
        margin-top: $space-m;
        margin-bottom: 0;
    }

}

.ac-title {
    cursor: pointer;
}

.hide {
    display: none;
}

.hide.visible {
    display: block;
    animation: toDown .7s forwards;

}

@keyframes toDown {
    from {
        opacity: 0;
        max-height: 0;
    }

    to {
        max-height: 500px;
        opacity: 1;
    }
}

@keyframes rotateItem {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-180deg);
    }
}



/*--------------------------
Código Timeline*/

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: $lv-400;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .time-item {
    padding: $space-m $space-l;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .time-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    right: -10px;
    background-color: $white-color;
    border: 4px solid $base-color;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the time-item to the left */
  .left {
    left: 0;
  }
  
  /* Place the time-item to the right */
  .right {
    left: 50%;
  }

  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -14px;
  }
  
  /* The actual content */
  .content {
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  @include mediaQuery($bp-t){
    .time-item.left {
        text-align: right;
    }

  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .time-item {
    width: 100%;
    padding: theHalf($space-m);
    // padding-right: $space-m;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .time-item::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 1px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

/*--------------------------
Código menu mobile*/
@media(max-width: 769px){
	.menu-mobile {
		width: 260px;
		background-color: $base-color;
		position: absolute;
		top: 59px;
		right: 0;
		z-index: 1;
        visibility: hidden;
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -9px;
            right: 15px;
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $base-color;
        }
	}

	.menu-mobile.visible {
		visibility: visible;
		animation: toRight .3s;
		
    } 
    
    .menu-flex {
        display: flex;
        flex-direction: column;
    }

	.menu {
        flex-direction: column;
        text-align: left;
        & .bar-link, & .bar-link:visited {
            color: $white-color;
        }
	}

	.menu > .bar-item {
		margin: 0;
    }

    .bar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @keyframes toRight {
        from {
            transform: translate3d(-50px, 0, 0);
            opacity: 0;
        }
    
        to {
            transform: translate3d(0, 0, 0);
            opacity: 1; 
        }
    }
    
    // Menu Button
    .menu-mobile-button {
        display: block;
        width: 22px;
        height: 22px;
        color: $base-color;
        border-top: 2px solid;
        cursor: pointer;
        position: relative;
    }
    
    .menu-mobile-button::before,
    .menu-mobile-button::after {
        content: '';
        display: block;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        position: relative;
        transition: transform .3s ease;
    }
    
     .menu-mobile-button::before {
        width: 14px;
    }
    
    /* Animação */
    .menu-mobile-button.animate {
        border-top-color: transparent;
    }
    
    .menu-mobile-button.animate::before {
        margin-top: 0;
        transform: rotate(130deg);
        width: auto;
        top: 4px;
    }
    
    .menu-mobile-button.animate::after {
        margin-top: 0;
        transform: rotate(45deg);
        top: 2px;
    }

    // Estilo 
    .menu-mobile {
        & .bar-link {
            padding: $space-m;
            display: block;
        }
    }

    .menu-cta {
        display: flex;
        justify-content: center;
        margin-left: 0;
        padding-bottom: $space-m;
    }

}
/*Dropdown Embutido
-------------------------*/
.dropdown {
    position: relative;
    padding: $space-m;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $lv-500;
    }
}

.dropdown a {
	display: block;
	padding: 12px;
}


@keyframes toTop {
	from {
		transform: translate3d(0, 30px, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
} 

// Estilo
.dropdown {
    background-color: $lv-500;
    & a {
        padding: theHalf($space-s);
    }
}
// Fim Estilo

@media screen and (min-width: 768px){
    
    .item-drop {
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../images/arrow-down.svg);
            background-repeat: no-repeat;
            background-position: center center;
            float: right;
            transform: rotate(0deg);
            transition: transform 0.3s;
            margin-top: 2px;
            cursor: pointer;
        }
    }
    
    .item-drop.rotate {
        &::after {
            transform: rotate(180deg);
        }
    }
    
	.dropdown {
		position: absolute;
		min-width: 170px;
		top: 48px;
		z-index: 900;
		display: none;
	}

	.dropdown.active {
		animation: toTop .4s;
		display: block;
    }
    
    // Estilo
    .dropdown {
        background-color: $white-color;
        @include addShadow('regular');
        &::before {
            border-bottom-color: $white-color;
        }
        & a {
            padding: theHalf($space-s);
        }
    }

}


/*------------------------
Load Nimation*/
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: $base-color;
}

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}


@keyframes loadingC {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,15px);
    }
    100% {
        transform: translate(0,0);
    }     
}


/*------------------------*/


@include mediaQuery($bp-t){
    .intro, .data {
        width: calc(((100% * 6) / 12) - 32px);
        @include spaceInline($space-l);
    }

    .acordeon {
        width: calc(((100% * 6) / 12) - 32px);
        @include spaceInline($space-l);
        &:last-child {
            margin-right: 0;
        }
    }

    .intro-image, .pilares-list, .data-illustration, .cta-block, .intro-landing, .bullet-image{
        width: calc((100% * 6) / 12);
    }

    .servicos, .type-service {
        width: calc(((100% * 6) / 12) - 32px);
        @include spaceInline($space-l);
        margin-bottom: $space-l;
        &:last-child {
            margin-right: 0;
        } 
    }

    .contact-form {
        width: calc((100% * 5) / 12);
    }

    .cons, .social, .vantagens, .contact-data {
        width: calc(((100% * 6) / 12) - 32px);
        @include spaceInline($space-l);
    }

    .contact-data {
        & ul {
            padding-left: $space-m;
        }
    }

    .pilares-icon {
        min-width: 76px;
        height: 76px;
        @include spaceInline($space-m);
    }

    .pilares-item, .data-item {
        flex-flow: row nowrap;
        @include spaceStack($space-l);
    }

    .data-item {
        display: flex;
        & span {
            width: 96px;
            height: 79px;
            @include spaceInline($space-l);
        }
    } 

}

@include mediaQuery($bp-d) {
    .servicos, .type-service {
        width: calc(((100% * 4) / 12) - 32px);
        @include spaceInline($space-l);
        margin-bottom: $space-l;
        &:last-child {
            margin-right: 0;
        } 
    }

    .contact-form {
        width: calc((100% * 4) / 12);
    }
}

@include mediaQuery($bp-t - 1, 'max') {
    .acordeon {
        width: 100%;
    }

    .intro, .data-item {
        order: 1;
    }

    .data-illustration, .intro-image {
        order: 0;
    }

    .intro-image, .servicos, .pilares-item, .data-item, .type-service, .intro-landing img, .vantagens  {
        margin-bottom: $space-l;
    }

    .cons, .footer-widget, .contact-data {
        margin-bottom: $space-xl;
    }
}
